---
interface Props {
	title: string;
	body: string;
	icon: string;
    visible: string;
}

const { icon, title, body, visible} = Astro.props;
---



<div class="rounded-lg  shadow-xl w-[300px]  flex lg:h-[400px] 2xl:h-[550px] lg:flex-col max-sm:w-[90%] sm:h-72 md:w-3/4  max-sm:h-auto">
    <figure class="w-full grid place-items-center max-sm:w-[90px]  ">
        <img src={icon} alt={title} class="max-sm:h-[80px] max-sm:w-[80px] max-[770px]:h-[120px] max-[770px]:w-[120px] h-[140px] w-[140px] 2xl:w-[180px] 2xl:h-[180px] px-1">
    </figure>
    <div class="flex flex-col justify-center lg:w-full items-center text-center text-slate-950  lg:mt-3 2xl:mt-8 md:m-0 px-2  lg:gap-5 max-sm:p-3 max-sm:w-[200px] max-md:gap-3 md:gap-3">
            <h2 class="card-title lg:h-[56px] mb-1 2xl:text-4xl 2xl:mb-3 lg:pt-0">{title}</h2>
        <p class="h-auto grid place-items-center text-sm leading-tight 2xl:text-2xl " >{body}</p>
        <a href="https://walink.co/1e1414" target="_blank" class=`inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300` style=`display:${visible}`>
        Denuncia
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
        
    </div>
</div>
